@import "./reset.css";

nav {
  height: 10vh;
  background: #706a88;
  display: flex;

  .img-container {
    height: 100%;
    flex-basis: 60%;
    img {
      height: 100%;
      width: auto;
    }
  }
  ul {
    flex-basis: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      text-decoration: none;
      font-size: 1rem;
    }
  }
}

.hero{
  height: 90vh;
  background: url(../img/White-Modern-Background.jpg) no-repeat center center/cover;

  .hero-info{
    border: 1px solid red;
    h1{
      color: hsla(258, 70%, 18%,0.6);
    }
  }
  .card-container{
    border: 1px solid red;
  }
}
