@import "./reset.css";
@import "./vars.scss";
@import "./mixins.scss";
// nav
nav {
  height: 10vh;
  background: $secondary;
  display: flex;
  .logo-container {
    height: 100%;
    flex-basis: 60%;
    img {
      height: 100%;
      width: auto;
    }
  }
  ul {
    flex-basis: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      text-decoration: none;
      a {
        text-decoration: none;
        color: white;
        font-size: 2rem;
      }
    }
  }
}
//hero section
.hero {
  height: 90vh;
  background: url("../img/White-Modern-Background.jpg") no-repeat center
    center/cover;
  .hero-info {
    h1 {
      font-size: 12rem;
      text-align: center;
      padding: 2rem 0;
      letter-spacing: 0.75rem;
      background: -webkit-linear-gradient(#31126a 0%, #ccc6d8 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p {
      color: #464646;
      font-size: 3.5rem;
      font-weight: lighter;
      text-align: center;
      font-style: italic;
    }
  }
  .card-container {
    // height: 70vh;
    margin-top: 13rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    img {
      height: 25rem;
      width: auto;
    }
    p {
      margin-top: 6rem;
      font-size: 4rem;
    }
    i {
      font-size: 2.5rem;
      margin-top: 2rem;
      color: $secondary;
      --animate-duration: 20s;
    }
  }
}
.features {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  .feat_container {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
  }
}
.account,
.security,
.rewards {
  background: $primary;
  padding: 1.5rem 1rem;
  height: 350px;
  display: flex;
  align-items: center;
border-top: 1px solid $tertiary;
border-bottom: 1px solid $tertiary;

  i {
    font-size: 6rem;
    color: $tertiary;
    height: 250px;
    flex-basis: 33%;
    display: grid;
    place-items: center;
  }
  .icon-container {
    flex-basis: 66%;
    height: 250px;

    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding: 0 2rem ;

    h1 {
      font-size: 3rem;
      color: $tertiary;
      text-align: left;
    }
    p {
      font-size: 2.5rem;
      color: $tertiary;
      text-align: left;
    }
  }
}
.testimony {
  // border: 1px solid red;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-flow: column;
  .test_card {
    display: flex;
    flex-flow: row;
    justify-content: center;
    border: 1px solid black;
    .profile_container {
      background: #d3d3d3;
      border-right: 2px solid black;
      text-align: center;
      padding: 1rem;
      flex-basis: 25%;
      img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
      }
      p.name_tag {
        padding: 1rem 0.5rem;
        font-size: 2rem;
        text-align: center;
        color: black;
      }
    }
  }
  p.quote {
    background: #d3d3d3;
    font-size: 2rem;
    flex-basis: 75%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: open-quote;
      position: relative;
      bottom: 70px;
      color: $primary;
      font-weight: bold;
      font-size: 100px;
    }
    &::after {
      content: close-quote;
      position: relative;
      bottom: -70px;
      color: $primary;
      font-weight: bold;
      font-size: 100px;
    }
  }
}

.gallery {
  background: #464646;
  .img_container {
    height: 2100px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    img{

      @include img-bg;
    }
    img:nth-of-type(1) {
      height:500px;
      width: 90%;
      // background: url("../img/airport.jpg") no-repeat center center/cover;
      background-image: url("../img/airport.jpg");
      background-position: center;
      background-size: cover;
    }
    img:nth-of-type(2) {
      height:500px;
      width: 90%;

      background-image: url("../img/restaurant.jpg");
      background-position: center;
      background-size: cover;
    }
    img:nth-of-type(3) {
      height:500px;
      width: 90%;
      background-image: url("../img/shopping.jpg");
      background-position: center;
      background-size: cover;
    }
    img:nth-of-type(4) {
      height:500px;
      width: 90%;
      background-image: url("../img/vacation.jpg");
      background-position: center;
      background-size: cover;
    }
  }
}

footer {
  .top {
    background: $secondary;
    display: flex;
    flex-flow: row;
    .legal {
      flex-basis: 50%;
      padding: 1rem 1.5rem;
      p {
        @include footer-title;
      }
      ul {
        height: 300px;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        li {
          a {
            text-decoration: none;
            font-size: 2rem;
            color: darken($secondary, 40%);
            &:hover {
              color: $tertiary;
              transform: scale(1.1);
            }
          }
        }
      }
    }
    .resources {
      flex-basis: 50%;
      padding: 1rem 1.5rem;
      p {
        @include footer-title;
      }
      ul {
        height: 300px;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        li {
          a {
            text-decoration: none;
            font-size: 2rem;
            color: darken($secondary, 40%);
            &:hover {
              color: $tertiary;
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
  .bottom {
    background: $secondary;
    display: flex;
    flex-flow: row;
    .socials {
      flex-basis: 40%;
      padding: 1rem 1.5rem;
      p {
        @include footer-title;
      }
      ul {
        height: 300px;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        li {
          a {
            text-decoration: none;
            font-size: 2rem;
            color: darken($secondary, 40%);
            transition: all 0.1s ease-in-out;
            &:hover {
              color: $tertiary;
              transform: scale(1.1);
            }
          }
        }
      }
    }
    .email {
      flex-basis: 60%;

      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      input {
        margin: 0;
        padding: 0;
        width: 350px;
        height: 75px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: none;
        line-height: 75px;
        font-size: 1.5rem;
        color: darken($secondary, 40%);
        &::placeholder {
          color: darken($secondary, 40%);
          padding-left: 1.5rem;
          font-size: 1.5rem;
        }
      }
      button {
        margin: 0;
        padding: 0;
        background: $primary;
        color: $tertiary;
        border: 1px solid $primary;
        height: 75px;
        width: 350px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 1.5rem;
      }
    }
  }
}
