@import "./reset.css";
@import "./vars.scss";
@import "./mixins.scss";
@import "./mquery.scss";
// nav
nav {
  height: 10vh;
  background: $secondary;
  display: flex;
  .logo-container {
    height: 100%;
    flex-basis: 50%;
    img {
      height: 100%;
      width: auto;
    }
  }
  ul {
    flex-basis: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      text-decoration: none;
      a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
      }
    }
  }
}
//hero section
.hero {
  height: 90vh;
  background: url("../img/White-Modern-Background.jpg") no-repeat center
    center/cover;
  .hero-info {
    h1 {
      font-size: 5rem;
      text-align: center;
      padding: 2rem 0;
      letter-spacing: 0.75rem;
      background: -webkit-linear-gradient(#31126a 0%, #ccc6d8 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p {
      color: #464646;
      font-size: 2rem;
      font-weight: lighter;
      text-align: center;
      font-style: italic;
    }
  }
  .card-container {
    display: flex;
    margin-top: 4rem;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    img {
      height: 200px;
      width: 500px;
    }
    p {
      margin-top: 6rem;
      font-size: $quote;
    }
    i {
      font-size: 2.5rem;
      margin-top: 2rem;
      color: $secondary;
      --animate-duration: 20s;
    }
  }
}

// features container
.features {
  display: flex;
  justify-content: center;
  padding: 1rem 0;

  .feat_container {
    width: 95%;
    display: flex;
  }
}
.account,
.security,
.rewards {
  background: $primary;
  height: 350px;
  display: flex;
  flex-flow: column;
  padding: 1rem 2rem;

  border-radius: 20px;

  i {
    font-size: 4rem;
    color: $tertiary;
    flex-basis: 30%;
    display: grid;
    place-items: center;
  }
  .feat_section_info {
    flex-basis: 70%;

    height: 250px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;

    h1 {
      font-size: 2.5rem;
      color: $tertiary;
      text-align: left;
    }
    p {
      font-size: 1.5rem;
      color: $tertiary;
      text-align: left;
    }
  }
}
.account {
  margin-right: 0.1rem;
}
.rewards {
  margin-left: 0.1rem;
}

// Testimonies section
.testimony {
border: 2px solid orange;
  .testimony_container {
    display: flex;
    border: 2px solid green;
  }
  .test_card {
    border: 2px solid purple;
    display: flex;
    .profile_container {
      background: #d3d3d3;
      border: 2px solid red;
      text-align: center;
      display: flex;
      flex-flow: column;
      flex-basis: 25%;
      img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 2px solid black;
      }
      p.name_tag {
        text-align: center;
        color: black;
        border: 2px solid black;
      }
    }
  }
  .quote-container{
    p.quote {
      background: #d3d3d3;
      border: 2px solid black;

flex-basis: 75%;

display: flex;

align-items: center;
height: 100%;
      &::before {
        content: open-quote;
        position: relative;
        color: $primary;
        font-weight: bold;
        font-size: 60px;
      }
      &::after {
        content: close-quote;
        position: relative;

        color: $primary;
        font-weight: bold;
        font-size: 60px;
      }
    }
  }
}
// gallery section.
.gallery {
  background: #464646;
  .img_container {
    height: 1100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 0;
    img {
      @include img-bg;
    }
  }
  .cta_container {
    padding: 1rem 0.5rem;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    h1 {
      font-size: 3.5rem;
      text-align: center;
      padding: 1.5rem 1rem;
      color: lighten($secondary, 5%);
    }
    .btn_container {
      button:first-child {
        border: 2px solid $tertiary;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.1);
        color: $tertiary;
        border-radius: 10px;
        font-size: 1.25rem;
        padding: 1rem 4rem;
        transition: all 1s ease-in-out;

        &:hover {
          background: $tertiary;
          color: $primary;
        }
      }
      button:last-child {
        border: 1px solid $primary;
        cursor: pointer;
        background: $primary;
        color: $tertiary;
        border-radius: 10px;
        font-size: 1.4rem;
        padding: 1rem 4rem;
      }
    }
  }
}
// footer section
footer {
  .top {
    background: $secondary;
    display: flex;
    flex-flow: row;
    .legal {
      flex-basis: 50%;
      padding: 1rem 1.5rem;
      p {
        @include footer-title;
      }
      ul {
        height: 300px;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        li {
          a {
            text-decoration: none;
            font-size: $quote;
            color: darken($secondary, 40%);
            &:hover {
              color: $tertiary;
              transform: scale(1.1);
            }
          }
        }
      }
    }
    .resources {
      flex-basis: 50%;
      padding: 1rem 1.5rem;
      p {
        @include footer-title;
      }
      ul {
        height: 300px;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        li {
          a {
            text-decoration: none;
            font-size: $quote;
            color: darken($secondary, 40%);
            &:hover {
              color: $tertiary;
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
  .bottom {
    background: $secondary;
    display: flex;
    flex-flow: row;
    .socials {
      flex-basis: 40%;
      padding: 1rem 1.5rem;
      p {
        @include footer-title;
      }
      ul {
        height: 300px;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        li {
          a {
            text-decoration: none;
            font-size: $quote;
            color: darken($secondary, 40%);
            transition: all 0.1s ease-in-out;
            &:hover {
              color: $tertiary;
              transform: scale(1.1);
            }
          }
        }
      }
    }
    .email {
      flex-basis: 60%;

      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      input {
        margin: 0;
        padding: 0;
        width: 300px;
        height: 75px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: none;
        line-height: 75px;
        font-size: 1.5rem;
        color: darken($secondary, 40%);
        &::placeholder {
          color: darken($secondary, 40%);
          padding-left: 1.5rem;
          font-size: 1.5rem;
        }
      }
      button {
        margin: 0;
        padding: 0;
        background: $primary;
        color: $tertiary;
        border: 1px solid $primary;
        height: 75px;
        width: 300px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 1.5rem;
      }
    }
  }
}
