@import "./reset.css";

nav{
  border: 1px solid black;
  background: #706A88;

  ul {
    display: flex;
    justify-content: flex-end;
    li {
      margin: 1rem;
    }
  }
}

.upper{
  border: 1px solid black;
  height: 100vh;
  background: url(./img/White-Modern-Background.svg) no-repeat center center/cover;
}
.middle{
  background: url(./img/Protruding-Squares.svg) no-repeat center center/cover;

}
.lower {
  border: 1px solid black;

}

footer{
background: #202020;
}
